<h3><%= @conversation.subject %></h3>

<% @conversation.receipts.inbox.each do |receipt| %>
	<div>
		<%= receipt.message.sender.name %>
		<%= receipt.message.body %>
	</div>
<% end %>


<%= form_tag conversation_messages_path(@conversation), method: :post do %>
	<div>
		<%= text_area_tag :body %>
	</div>

	<%= submit_tag %>
<% end %>