<div class="info_current_user">
<p><%= @user.first_name %> <%= @user.last_name %></p>
<% if @user.account == current_user.account %>
<%= link_to 'Редактировать профиль', edit_user_registration_path, class: "btn btn-primary" %>
<% end %>
</div>

<div class="messages">
	
</div>

<div class="friends">
	
</div>

<div class="posts">

	<h3>Add post:</h3>
		<%= form_with(model: [ @account, @account.posts.build], local: true ) do |form| %>


		<%= form.label :body  %>
		<%= form.text_field :body %>
	
		<%= form.submit %>
		<% end %>

<hr>


		<% @account.posts.each do |post| %>
			<% unless post.user_first_name.nil? %>
			<p><%= post.user_first_name %></p>
			<%= post.body %>
			<%= link_to "Удалить комментарий",[post.account, post] , method: :delete, data: {confirm: "are you confirm?"} %>
			<hr>
			<% end %>
		<% end %>


</div>