
<div class="info_current_user">

	<p><%= @user.first_name %> <%= @user.last_name %></p>
	<% if @user.account == current_user.account %>
		<%= link_to 'Редактировать профиль', edit_user_registration_path, class: "btn btn-primary" %>

		<div class="messages">
			<h1>Чаты:</h1>
				<% render @account.mailbox.conversations %>	
		</div>

	<% else %>

			
		<% if current_user.account.friend.people_list.split(',').include?("requested" + @user.account_id.to_s)  %>

				<%= form_for :friend, :url => {:action=>"update", :controller=>"friends"}, :html => {:class => "nifty_form", :method => "PATCH"} do |f| %>
				<%= f.hidden_field "people_list", :value => (current_user.account.friend.people_list.split(',').delete_if{|x| x == "requested"+@user.account_id.to_s}).join(',') %>
				<%= f.submit "Запрошено(отписаться)" %>
				<% end %>

		<% elsif current_user.account.friend.people_list.split(',').include?(@user.account_id.to_s) %>
	

				<%= form_for :friend, :url => {:action=>"update", :controller=>"friends"}, :html => {:class => "nifty_form", :method => "PATCH"} do |f| %>
				<%= f.hidden_field "people_list", :value => (current_user.account.friend.people_list.split(',').delete_if{|x| x == @user.account_id}).join(',') %>
				<%= f.submit "Удалить из друзей" %>
				<% end %>

		<% else %>

				<%= form_for :friend, :url => {:action=>"update", :controller=>"friends"}, :html => {:class => "nifty_form", :method => "PATCH"} do |f| %>
				<%= f.hidden_field "people_list", :value => (current_user.account.friend.people_list.split(',') << "requested"+@user.account_id.to_s).join(',') %>
				<%= f.submit "Добавить в друзья" %>
				<% end %>

		<% end %>

	<% end %>
	
</div>


<div class="friends">

	<h3>Список подписок:</h3>
		<%= render @account.friend %>
	<h3>Список друзей:</h3>
		<%= render 'friends/subscribed' %>
				 
</div>

<div class="posts">

	<h3>Все посты:</h3>
		<%= render 'posts/form' %>
	<hr>
		<%= render @account.posts %>
</div>